<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Tab Definition -->
        <tab id="icecube" translate="label" sortOrder="100">
            <label>Icecube Settings</label>
        </tab>

        <!-- Section -->
        <section id="eav_manager" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Eav Manager</label>
            <tab>icecube</tab>
            <resource>Icecube_EavManager::eav_manager_configuration</resource>

            <!-- Group -->
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <!-- Enable/Disable -->
                <field id="enabled" translate="label" canRestore="1" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <!-- Custom Text Field -->
                <field id="custom_text" translate="label" canRestore="1" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Greeting</label>
                </field>
            </group>
        </section>
    </system>
</config>
